<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>airline</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Getalien</display-name>
    <servlet-name>Getalien</servlet-name>
    <servlet-class>com.cisco.web.Getalien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getalien</servlet-name>
    <url-pattern>/getalien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Storedetails</display-name>
    <servlet-name>Storedetails</servlet-name>
    <servlet-class>com.cisco.web.Storedetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Storedetails</servlet-name>
    <url-pattern>/Storedetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>com.cisco.web.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Changepsw</display-name>
    <servlet-name>Changepsw</servlet-name>
    <servlet-class>com.cisco.web.Changepsw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Changepsw</servlet-name>
    <url-pattern>/changepsw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.cisco.web.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Saveflight</display-name>
    <servlet-name>Saveflight</servlet-name>
    <servlet-class>com.cisco.web.Saveflight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saveflight</servlet-name>
    <url-pattern>/saveflight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Saveflights</display-name>
    <servlet-name>Saveflights</servlet-name>
    <servlet-class>com.cisco.web.Saveflight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saveflights</servlet-name>
    <url-pattern>/saveflights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dummy</display-name>
    <servlet-name>Dummy</servlet-name>
    <servlet-class>com.cisco.web.Dummy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dummy</servlet-name>
    <url-pattern>/Dummy</url-pattern>
  </servlet-mapping>
</web-app>